In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_profiling as pp
import sweetviz as sv
import datetime as dt
import streamlit as st
from streamlit_pandas_profiling import st_profile_report
from pandas_profiling import ProfileReport


pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [2]:
intake = pd.read_csv('./intake_clean.csv')
intake['datetime'] = pd.to_datetime(intake['datetime'], format='%Y-%m-%d %H:%M:%S')
intake['datetime'] = intake['datetime'].apply(lambda x: dt.datetime.strftime(x, '%Y-%d-%m %H:%M:%S'))
intake['datetime'] = pd.to_datetime(intake['datetime'], format='%Y-%d-%m %H:%M:%S')
intake.sort_values(by=['animal_id','datetime'], inplace=True)
intake.reset_index(inplace=True)
intake.drop(columns='index', inplace=True)
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month_in,age_year_in,sex
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,7,3,2014,14:26:00,72.0,6.0,Male
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,19,12,2014,10:21:00,84.0,7.0,Male
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,7,12,2017,14:07:00,120.0,10.0,Male
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,2,4,2014,15:55:00,120.0,10.0,Male
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,16,11,2013,09:02:00,192.0,16.0,Male

In [4]:
outcome = pd.read_csv('./outcome_clean.csv')
outcome['datetime'] = pd.to_datetime(outcome['datetime'], format='%Y-%m-%d %H:%M:%S')
outcome['datetime'] = outcome['datetime'].apply(lambda x: dt.datetime.strftime(x, '%Y-%d-%m %H:%M:%S'))
outcome['datetime'] = pd.to_datetime(outcome['datetime'], format='%Y-%d-%m %H:%M:%S')
outcome.sort_values(by=['animal_id','datetime'], inplace=True)
outcome.reset_index(inplace=True)
outcome.drop(columns='index', inplace=True)
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,neutered_outcome,breed,color,day_out,month_out,year_out,time_out,age_month_out,age_year_out,sex
0,A006100,Scamp,2014-03-08 17:10:00,07/09/2007,Return to Owner,Unknown,Dog,yes,Spinone Italiano Mix,Yellow/White,8,3,2014,17:10:00,72.0,6.0,Male
1,A006100,Scamp,2014-12-20 16:35:00,07/09/2007,Return to Owner,Unknown,Dog,yes,Spinone Italiano Mix,Yellow/White,20,12,2014,16:35:00,84.0,7.0,Male
2,A006100,Scamp,2017-12-07 00:00:00,07/09/2007,Return to Owner,Unknown,Dog,yes,Spinone Italiano Mix,Yellow/White,7,12,2017,00:00:00,120.0,10.0,Male
3,A047759,Oreo,2014-04-07 15:12:00,04/02/2004,Transfer,Partner,Dog,yes,Dachshund,Tricolor,7,4,2014,15:12:00,120.0,10.0,Male
4,A134067,Bandit,2013-11-16 11:54:00,10/16/1997,Return to Owner,Unknown,Dog,yes,Shetland Sheepdog,Brown/White,16,11,2013,11:54:00,192.0,16.0,Male

In [6]:
outcome.iloc[124000:124010]

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,neutered_outcome,breed,color,day_out,month_out,year_out,time_out,age_month_out,age_year_out,sex
124000,A826115,Unknown,2020-11-30 16:30:00,09/10/2020,Adoption,Unknown,Dog,yes,Great Pyrenees/Labrador Retriever,Black/White,30,11,2020,16:30:00,2.0,0.1667,Male
124001,A826116,Kona,2020-11-30 18:04:00,09/07/2020,Adoption,Unknown,Dog,yes,Great Pyrenees/Labrador Retriever,Tan,30,11,2020,18:04:00,2.0,0.1667,Male
124002,A826118,Unknown,2020-11-25 16:52:00,09/07/2020,Adoption,Unknown,Dog,yes,Great Pyrenees/Labrador Retriever,Tan/White,25,11,2020,16:52:00,2.0,0.1667,Male
124003,A826120,Captain Jackie,2020-11-24 17:51:00,09/19/2020,Adoption,Unknown,Cat,yes,Domestic Shorthair Mix,Calico,24,11,2020,17:51:00,2.0,0.1667,Female
124004,A826121,Shadow,2020-11-23 16:53:00,09/19/2020,Adoption,Unknown,Cat,yes,Domestic Shorthair Mix,Black,23,11,2020,16:53:00,2.0,0.1667,Male
124005,A826122,Junior,2020-12-03 11:54:00,09/19/2020,Adoption,Unknown,Cat,yes,Domestic Shorthair Mix,Black/White,3,12,2020,11:54:00,2.0,0.1667,Male
124006,A826123,Kami,2020-12-03 15:03:00,09/19/2020,Transfer,Partner,Cat,yes,Domestic Shorthair Mix,White/Brown Tabby,3,12,2020,15:03:00,2.0,0.1667,Male
124007,A826124,Domino,2020-11-23 16:50:00,09/19/2020,Adoption,Unknown,Cat,yes,Domestic Shorthair Mix,White/Brown Tabby,23,11,2020,16:50:00,2.0,0.1667,Female
124008,A826125,Tiger,2020-12-03 15:03:00,09/19/2020,Transfer,Partner,Cat,yes,Domestic Shorthair Mix,Brown Tabby,3,12,2020,15:03:00,2.0,0.1667,Male
124009,A826127,Unknown,2020-11-23 16:45:00,05/19/2020,Transfer,Snr,Cat,yes,Domestic Shorthair,Black/White,23,11,2020,16:45:00,6.0,0.5000,Female

In [7]:
outcome_split = outcome.iloc[124101:,:]

In [8]:
outcome_split.tail()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,neutered_outcome,breed,color,day_out,month_out,year_out,time_out,age_month_out,age_year_out,sex
138822,A856070,Baby,2022-04-28 15:31:00,04/28/2006,Return to Owner,Unknown,Cat,no,Domestic Shorthair,Calico,28,4,2022,15:31:00,192.0000,16.0000,Female
138823,A856096,78 Grams,2022-04-28 14:59:00,04/27/2022,Transfer,Partner,Cat,no,Domestic Shorthair Mix,Blue Tabby,28,4,2022,14:59:00,0.0329,0.0027,Male
138824,A856097,81 Grams,2022-04-28 14:59:00,04/27/2022,Transfer,Partner,Cat,no,Domestic Shorthair Mix,Blue Tabby,28,4,2022,14:59:00,0.0329,0.0027,Male
138825,A856098,66 Grams,2022-04-28 14:59:00,04/27/2022,Transfer,Partner,Cat,no,Domestic Shorthair Mix,Brown Tabby/White,28,4,2022,14:59:00,0.0329,0.0027,Male
138826,A856124,Unknown,2022-04-28 17:22:00,04/24/2022,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,White/Gray,28,4,2022,17:22:00,0.1314,0.0110,Unknown

In [13]:
outcome.dtypes

animal_id                   object
name                        object
datetime            datetime64[ns]
date_of_birth               object
outcome_type                object
outcome_subtype             object
animal_type                 object
neutered_outcome            object
breed                       object
color                       object
day_out                      int64
month_out                    int64
year_out                     int64
time_out                    object
age_month_out              float64
age_year_out               float64
sex                         object
dtype: object

In [14]:
intake[(intake['animal_id']=='A682524')].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month_in,age_year_in,sex
18305,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,yes,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,48.0,4.0,Male

In [15]:
outcome[(outcome['animal_id']=='A682524')].head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,neutered_outcome,breed,color,day_out,month_out,year_out,time_out,age_month_out,age_year_out,sex
19226,A682524,Rio,2014-07-02 14:16:00,06/29/2010,Return to Owner,Unknown,Dog,yes,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2,7,2014,14:16:00,48.0,4.0,Male

In [17]:
merge = pd.merge_asof(intake, outcome, by=['animal_id'], left_index=True, right_index=True,direction='nearest')
merge.rename(columns={'datetime_x': 'datetime_in','datetime_y': 'datetime_out', 'name_x':'name','animal_type_x':'animal_type','breed_x':'breed','color_x':'color','sex_x':'sex'},inplace=True)
merge.drop(merge.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [18]:
merge.head()

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month_in,age_year_in,sex,datetime_out,date_of_birth,outcome_type,outcome_subtype,neutered_outcome,day_out,month_out,year_out,time_out,age_month_out,age_year_out
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,7,3,2014,14:26:00,72.0,6.0,Male,2014-03-08 17:10:00,07/09/2007,Return to Owner,Unknown,yes,8.0,3.0,2014.0,17:10:00,72.0,6.0
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,19,12,2014,10:21:00,84.0,7.0,Male,2014-12-20 16:35:00,07/09/2007,Return to Owner,Unknown,yes,20.0,12.0,2014.0,16:35:00,84.0,7.0
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,7,12,2017,14:07:00,120.0,10.0,Male,2017-12-07 00:00:00,07/09/2007,Return to Owner,Unknown,yes,7.0,12.0,2017.0,00:00:00,120.0,10.0
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,2,4,2014,15:55:00,120.0,10.0,Male,2014-04-07 15:12:00,04/02/2004,Transfer,Partner,yes,7.0,4.0,2014.0,15:12:00,120.0,10.0
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,16,11,2013,09:02:00,192.0,16.0,Male,2013-11-16 11:54:00,10/16/1997,Return to Owner,Unknown,yes,16.0,11.0,2013.0,11:54:00,192.0,16.0

In [19]:
merge[(merge['animal_id']=='A682524')].head()

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month_in,age_year_in,sex,datetime_out,date_of_birth,outcome_type,outcome_subtype,neutered_outcome,day_out,month_out,year_out,time_out,age_month_out,age_year_out
18305,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,yes,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,48.0,4.0,Male,2014-07-02 14:16:00,06/29/2010,Return to Owner,Unknown,yes,2.0,7.0,2014.0,14:16:00,48.0,4.0

In [22]:
merge.shape

(138649, 28)

In [25]:
final_merge = pd.concat([merge,outcome_split],axis=0) # probably not going to use this, as there is more entries in outcome then in intake, which doesn't make sense, only loosing like 350 rows out of 124k is acceptable.
final_merge.shape

(153375, 29)

In [26]:
final_merge.tail()

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month_in,age_year_in,sex,datetime_out,date_of_birth,outcome_type,outcome_subtype,neutered_outcome,day_out,month_out,year_out,time_out,age_month_out,age_year_out,datetime
138822,A856070,Baby,NaT,NaN,NaN,NaN,Cat,NaN,Domestic Shorthair,Calico,NaN,NaN,NaN,NaN,NaN,NaN,Female,NaT,04/28/2006,Return to Owner,Unknown,no,28.0,4.0,2022.0,15:31:00,192.0000,16.0000,2022-04-28 15:31:00
138823,A856096,78 Grams,NaT,NaN,NaN,NaN,Cat,NaN,Domestic Shorthair Mix,Blue Tabby,NaN,NaN,NaN,NaN,NaN,NaN,Male,NaT,04/27/2022,Transfer,Partner,no,28.0,4.0,2022.0,14:59:00,0.0329,0.0027,2022-04-28 14:59:00
138824,A856097,81 Grams,NaT,NaN,NaN,NaN,Cat,NaN,Domestic Shorthair Mix,Blue Tabby,NaN,NaN,NaN,NaN,NaN,NaN,Male,NaT,04/27/2022,Transfer,Partner,no,28.0,4.0,2022.0,14:59:00,0.0329,0.0027,2022-04-28 14:59:00
138825,A856098,66 Grams,NaT,NaN,NaN,NaN,Cat,NaN,Domestic Shorthair Mix,Brown Tabby/White,NaN,NaN,NaN,NaN,NaN,NaN,Male,NaT,04/27/2022,Transfer,Partner,no,28.0,4.0,2022.0,14:59:00,0.0329,0.0027,2022-04-28 14:59:00
138826,A856124,Unknown,NaT,NaN,NaN,NaN,Cat,NaN,Domestic Shorthair Mix,White/Gray,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaT,04/24/2022,Transfer,Partner,Unknown,28.0,4.0,2022.0,17:22:00,0.1314,0.0110,2022-04-28 17:22:00

In [28]:
merge_times = merge.copy() # creating a copy of my full data, dropping all seperate time columns for now

In [29]:
merge.drop(columns=['day_in','month_in','year_in','time_in','date_of_birth','day_out','month_out','year_out','time_out'	] ,inplace=True) # also dropping date of birth, as it is redundant in the age columns
merge.head()

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,age_month_in,age_year_in,sex,datetime_out,outcome_type,outcome_subtype,neutered_outcome,age_month_out,age_year_out
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,72.0,6.0,Male,2014-03-08 17:10:00,Return to Owner,Unknown,yes,72.0,6.0
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,84.0,7.0,Male,2014-12-20 16:35:00,Return to Owner,Unknown,yes,84.0,7.0
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,120.0,10.0,Male,2017-12-07 00:00:00,Return to Owner,Unknown,yes,120.0,10.0
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,120.0,10.0,Male,2014-04-07 15:12:00,Transfer,Partner,yes,120.0,10.0
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,192.0,16.0,Male,2013-11-16 11:54:00,Return to Owner,Unknown,yes,192.0,16.0

In [31]:
merge['days_in_shelter'] = (merge['datetime_out'] - merge['datetime_in'])
merge.head()

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,age_month_in,age_year_in,sex,datetime_out,outcome_type,outcome_subtype,neutered_outcome,age_month_out,age_year_out,days_in_shelter
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,72.0,6.0,Male,2014-03-08 17:10:00,Return to Owner,Unknown,yes,72.0,6.0,1 days 02:44:00
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,84.0,7.0,Male,2014-12-20 16:35:00,Return to Owner,Unknown,yes,84.0,7.0,1 days 06:14:00
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,120.0,10.0,Male,2017-12-07 00:00:00,Return to Owner,Unknown,yes,120.0,10.0,-1 days +09:53:00
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,120.0,10.0,Male,2014-04-07 15:12:00,Transfer,Partner,yes,120.0,10.0,4 days 23:17:00
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,192.0,16.0,Male,2013-11-16 11:54:00,Return to Owner,Unknown,yes,192.0,16.0,0 days 02:52:00

In [32]:
merge['days_in_shelter']=pd.to_timedelta(merge['days_in_shelter']).dt.total_seconds()
merge['days_in_shelter']=(merge['days_in_shelter']/86400).round(2)
merge.head(10)

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,age_month_in,age_year_in,sex,datetime_out,outcome_type,outcome_subtype,neutered_outcome,age_month_out,age_year_out,days_in_shelter
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,72.0,6.0,Male,2014-03-08 17:10:00,Return to Owner,Unknown,yes,72.0,6.0,1.11
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,84.0,7.0,Male,2014-12-20 16:35:00,Return to Owner,Unknown,yes,84.0,7.0,1.26
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,120.0,10.0,Male,2017-12-07 00:00:00,Return to Owner,Unknown,yes,120.0,10.0,-0.59
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,120.0,10.0,Male,2014-04-07 15:12:00,Transfer,Partner,yes,120.0,10.0,4.97
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,192.0,16.0,Male,2013-11-16 11:54:00,Return to Owner,Unknown,yes,192.0,16.0,0.12
5,A141142,Bettie,2013-11-16 14:46:00,Austin (TX),Stray,Aged,Dog,yes,Labrador Retriever/Pit Bull,Black/White,180.0,15.0,Female,2013-11-17 11:40:00,Return to Owner,Unknown,yes,180.0,15.0,0.87
6,A163459,Sasha,2014-11-14 15:11:00,Ih 35 And 41St St in Austin (TX),Stray,Normal,Dog,no,Miniature Schnauzer Mix,Black/Gray,180.0,15.0,Female,2014-11-14 19:28:00,Return to Owner,Unknown,no,180.0,15.0,0.18
7,A165752,Pep,2014-09-15 11:28:00,Gatlin Gun Rd And Brodie in Austin (TX),Stray,Normal,Dog,yes,Lhasa Apso Mix,Brown/White,180.0,15.0,Male,2014-09-15 16:35:00,Return to Owner,Unknown,yes,180.0,15.0,0.21
8,A169438,Unknown,2018-04-04 20:37:00,Dessau in Austin (TX),Stray,Normal,Bird,Unknown,Dove Mix,Gray/White,216.0,18.0,Unknown,2018-04-04 20:47:00,Relocate,Unknown,Unknown,216.0,18.0,0.01
9,A178569,Boti,2014-03-17 09:45:00,Austin (TX),Public Assist,Normal,Dog,yes,Shetland Sheepdog Mix,White/Black,180.0,15.0,Male,2014-03-23 15:57:00,Return to Owner,Unknown,yes,180.0,15.0,6.26

In [33]:
merge['days_in_shelter']=merge['days_in_shelter'].astype(str)
merge.head()

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,age_month_in,age_year_in,sex,datetime_out,outcome_type,outcome_subtype,neutered_outcome,age_month_out,age_year_out,days_in_shelter
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,72.0,6.0,Male,2014-03-08 17:10:00,Return to Owner,Unknown,yes,72.0,6.0,1.11
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,84.0,7.0,Male,2014-12-20 16:35:00,Return to Owner,Unknown,yes,84.0,7.0,1.26
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,120.0,10.0,Male,2017-12-07 00:00:00,Return to Owner,Unknown,yes,120.0,10.0,-0.59
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,120.0,10.0,Male,2014-04-07 15:12:00,Transfer,Partner,yes,120.0,10.0,4.97
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,192.0,16.0,Male,2013-11-16 11:54:00,Return to Owner,Unknown,yes,192.0,16.0,0.12

In [34]:
merge['days_in_shelter'].replace('-','', regex=True,inplace=True)
merge.head()

,animal_id,name,datetime_in,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,age_month_in,age_year_in,sex,datetime_out,outcome_type,outcome_subtype,neutered_outcome,age_month_out,age_year_out,days_in_shelter
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,72.0,6.0,Male,2014-03-08 17:10:00,Return to Owner,Unknown,yes,72.0,6.0,1.11
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,84.0,7.0,Male,2014-12-20 16:35:00,Return to Owner,Unknown,yes,84.0,7.0,1.26
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,120.0,10.0,Male,2017-12-07 00:00:00,Return to Owner,Unknown,yes,120.0,10.0,0.59
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,120.0,10.0,Male,2014-04-07 15:12:00,Transfer,Partner,yes,120.0,10.0,4.97
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,192.0,16.0,Male,2013-11-16 11:54:00,Return to Owner,Unknown,yes,192.0,16.0,0.12

In [35]:
merge.columns

Index(['animal_id', 'name', 'datetime_in', 'found_location', 'intake_type',
       'intake_condition', 'animal_type', 'neutered_intake', 'breed', 'color',
       'age_month_in', 'age_year_in', 'sex', 'datetime_out', 'outcome_type',
       'outcome_subtype', 'neutered_outcome', 'age_month_out', 'age_year_out',
       'days_in_shelter'],
      dtype='object')

In [37]:
merge.dropna(axis=0,inplace=True) #dropping rows with NaN's as those are only around 350 rows, where there was no entry in "intake", so I dropped them as I don't think they are worth the effort of dealing with all those NaN's in regard to the size of the overall data.
merge.shape

(138003, 20)

In [40]:
merge['days_in_shelter']= merge['days_in_shelter'].astype(float)

In [41]:
merge.to_csv('./merge.csv', index=False)

In [42]:
merge.dtypes

animal_id                   object
name                        object
datetime_in         datetime64[ns]
found_location              object
intake_type                 object
intake_condition            object
animal_type                 object
neutered_intake             object
breed                       object
color                       object
age_month_in               float64
age_year_in                float64
sex                         object
datetime_out        datetime64[ns]
outcome_type                object
outcome_subtype             object
neutered_outcome            object
age_month_out              float64
age_year_out               float64
days_in_shelter            float64
dtype: object